<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Carlano MVP{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/full.min.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<style>
    /* CSS Styling for the footer */
    footer {
        background-color: #ffffff;
        padding: 10px;
        text-align: center;
    }

    footer a {
        color: #000000;
        text-decoration: none;
        padding: 0 10px;
    }

    footer a:not(:last-child)::after {
        content: "|";
        margin-left: 10px;
        margin-right: 10px;
        color: #999;
    }
</style>


<body style="font-family: 'Open Sans', sans-serif;">

    <!--------navbar------->
    <div class="navbar bg-base-100">
        <a class="btn btn-ghost text-xl">CARLANO</a>
    </div>
    <hr>

    <!------hero section---->
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
            <img src="https://cdn.pixabay.com/photo/2017/08/22/10/47/washing-machine-2668472_1280.jpg"
                class="max-w-sm rounded-lg shadow-2xl" />
            <div>
                <h1 class="text-5xl font-bold">Who we are!</h1>
                <p class="py-6">Discover the epitome of convenience with our premium laundry services. At Carlano Laundry
                    Services, we handle your laundry needs with utmost care and professionalism.Let us take care of the
                    chore while you focus on what truly matters. Try our exceptional laundry services today!</p>
                    <form>
                        <input type="text" placeholder="Services provided" style="border: 1px rgb(27,27,27) solid;padding: 10px;border-radius: 7px;outline: none;">
                        <button type="submit" class="btn btn-primary" style="border: 1px rgb(27,27,27) solid;background-color: rgb(27,27,27);color: #ffffff;">Search</button>
                    </form>
                </div>
        </div>
    </div>

    <!----footer---->
    <footer>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </footer>
    <script src="{{ url_for('static',filename='js/tailwind.js') }}"></script>
</body>

</html>